* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f8;
}

.auth-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.auth-box input:focus {
  border-color: #007bff;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.auth-box button:hover {
  background-color: #0056b3;
}

.auth-box p {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.auth-box span {
  color: #007bff;
  cursor: pointer;
}
.auth-box span:hover {
  text-decoration: underline;
}
